.checkout-container{
    /* display: flex;
    flex-direction: column;
    gap: 2rem; */
    font-size: 1.6rem;
    font-weight: 500;
    margin: 2.4rem;
}
.checkout-container > h1 {
    text-align: center;
    font-size:2.4rem;
}
.address-card-list{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
}
.address-btn-container{
    display: flex;
    gap: 3rem;
    margin-top: 2rem;
}
.address-btn{
    background-color: var(--background-color);
    border-radius: 2rem;
  cursor: pointer;
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
height: 4rem;
width: 16rem;
  font-weight: 500;
  font-size: 1.8rem;
}