.order-summary-heading {
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  margin-top: 3rem;
}
.order-summary-card {
  width: 40%;
  border: 1px solid var(--accent-color);
  margin: auto;
  margin-top: 3rem;
  padding: 3rem 2rem;
  border-radius: 2rem;
  box-shadow: 0 3px 10px #6a4921;
}
.order-summary-card-title {
  font-size: 2.4rem;
  font-weight: 500;
  padding: 1rem 0;
  border-bottom: 1px solid var(--accent-color);
  margin-bottom: 1rem;
}
.order-summary-card-headings {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.order-summary-list {
  text-decoration: none;
}
.order-summary-list > li {
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--white-color);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 4px;
}
.order-summary-card-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  padding: 1rem 0;
}
.order-summary-card-address > p {
  font-size: 1.4rem;
  border: 1px solid var(--white-color);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  line-height: 2rem;
}
